<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (file.folder) { %>
    <a href="/homepage/folder/file.folderId">back</a>
    <%} else { %>
    <a href="/homepage">back</a>
    <%}%> <%= file.name %> <%= file.size %> <%= file.createdAt %>
  </body>
</html>
